/* #Fonts
================================================== */
@font-face {
  font-family: 'almoni-tzar';
  src: url('../font/almoni-neue-tzar-aaa-300.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'almoni-tzar';
  src: url('../font/almoni-neue-tzar-aaa-400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'almoni-tzar';
  src: url('../font/almoni-neue-tzar-aaa-500.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'almoni-tzar';
  src: url('../font/almoni-neue-tzar-aaa-600.ttf');
  font-weight: 600;
  font-style: normal;
}

/* #General
================================================== */
body {
  font-family: 'almoni-tzar', sans-serif;
  padding-top: 4.95vw;
}

.text-blue {
  color: #002C62;
}

.text-orange {
  color: #F36A10;
}

.text-gray-light {
  color: #b4b4b442;
}

.text-gray {
  color: #ADADAD;
}

.dots img {
  width: 3.65vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 14.4vw;
  }

  .dots img {
    width: 12.4vw;
  }
}

/* #Btn
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn.btn-primary {
  border: 1px solid #F36A10;
  color: white;
  position: relative;
  overflow: hidden;
  height: 2.86vw;
  font-size: 1.2vw;
}

.btn.btn-primary::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #F36A10;
  color: white;
  position: absolute;
  transition: all .5s ease;
  top: 100%;
  left: 0;
}

.btn.btn-primary:hover::before {
  top: 0;
}

.btn.btn-primary > span {
  position: relative;
  z-index: 1;
  transition: all .5s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4vw;
}

.btn.btn-primary .btn-arrow svg * {
  transition: fill .5s ease;
}

.btn.btn-primary:hover .btn-arrow svg * {
  fill: white;
}

.btn.btn-secondary {
  font-size: 1.8vw;
  height: 2.44vw;
  width: 14.84vw;
  color: white;
  background-color: #F36A10;
}

.btn-arrow {
  width: 1.2vw;
  margin-right: 1vw;
}

@media (max-width: 1023.98px) {
  .btn.btn-primary {
    height: 11.33vw;
    font-size: 5vw;
  }
  
  .btn.btn-primary > span {
    padding: 0 13.33vw;
  }
  
  .btn.btn-secondary {
    font-size: 8vw;
    height: 11.33vw;
    width: 46.66vw;
  }
  
  .btn-arrow {
    width: 4vw;
    margin-right: 4vw;
  }
}

/* #Checkbox
================================================== */
.checkbox {
  line-height: 1;
}

.checkbox input {
  width: .78vw;
  height: .78vw;
  flex: 0 0 .78vw;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 0;
  margin-top: .2vw;
}

.checkbox input:checked {
  border-color: transparent;
  background-color: transparent;
  background-size: .5vw auto;
  border: 1px solid #fff;
}

.checkbox label {
  margin-right: .5vw;
  line-height: 1;
}

@media (max-width: 1023.98px) {
  .checkbox input {
    width: 4vw;
    height: 4vw;
    flex: 0 0 4vw;
  }
  
  .checkbox input:checked {
    background-size: 3vw auto;
  }

  .checkbox label {
    margin-right: 1.33vw;
  }
}

/* #Input
================================================== */
.input-primary {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: .6vw;
}

.input-primary::placeholder {
  color: white;
}

@media (max-width: 1023.98px) {
  .input-primary {
    padding-bottom: 1.66vw;
  }
}

/* #Section Heading
================================================== */
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.36;
}

.section-heading img {
  height: 5.88vw;
  margin-bottom: 2.34vw;
}

@media (max-width: 1023.98px) {
  .section-heading img {
    height: 25.73vw;
    margin-bottom: 16vw;
  }
}

/* #Swiper Navigation
================================================== */
.swiper-navigation {
  position: relative;
  z-index: 20;
}

.swiper-navigation,
.swiper-navigation .swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-navigation .swiper-arrows {
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  justify-content: space-between;
  z-index: 1;
}

.swiper-navigation .swiper-arrows .swiper-button-next,
.swiper-navigation .swiper-arrows .swiper-button-prev,
.swiper-navigation .swiper-pagination {
  position: static;
  margin: 0;
}

.swiper-navigation .swiper-pagination {
  z-index: 0;
}

/* #Swiper Arrows
================================================== */
.swiper-arrows .swiper-button-next:after,
.swiper-arrows .swiper-button-prev:after {
  display: none;
}

.swiper-arrows .swiper-button-next,
.swiper-arrows .swiper-button-prev {
  width: 1.25vw;
  height: 0.83vw;

  background-image: url("data:image/svg+xml,%3Csvg id='arrow-pointing-to-right' xmlns='http://www.w3.org/2000/svg' width='24' height='16.516' viewBox='0 0 24 16.516'%3E%3Cpath id='Path_38951' data-name='Path 38951' d='M.327,49.385l7.142-7.142a1.116,1.116,0,1,1,1.578,1.578L3.81,49.058H22.884a1.116,1.116,0,0,1,0,2.232H3.81l5.237,5.237a1.116,1.116,0,0,1-1.578,1.578L.327,50.963A1.116,1.116,0,0,1,.327,49.385Z' transform='translate(0 -41.916)' fill='%23003974'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-arrows .swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-arrows.white .swiper-button-next,
.white .swiper-arrows .swiper-button-next,
.swiper-arrows.white .swiper-button-prev,
.white .swiper-arrows .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-pointing-to-right' xmlns='http://www.w3.org/2000/svg' width='24' height='16.516' viewBox='0 0 24 16.516'%3E%3Cpath id='Path_38951' data-name='Path 38951' d='M.327,49.385l7.142-7.142a1.116,1.116,0,1,1,1.578,1.578L3.81,49.058H22.884a1.116,1.116,0,0,1,0,2.232H3.81l5.237,5.237a1.116,1.116,0,0,1-1.578,1.578L.327,50.963A1.116,1.116,0,0,1,.327,49.385Z' transform='translate(0 -41.916)' fill='%23fff'/%3E%3C/svg%3E%0A") !important;
}

@media (max-width: 1023.98px) {
  .swiper-arrows .swiper-button-next,
  .swiper-arrows .swiper-button-prev {
    width: 3.2vw;
    height: 2.13vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet {
  background: #00387459;
  opacity: 1;
  width: 0.52vw;
  height: 0.52vw;
  transition: all .3s ease;
}

.swiper-pagination-bullet-active {
  background: #003974;
}

.swiper-pagination-bullet {
  margin: 0 0.26vw;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination.white .swiper-pagination-bullet,
.white .swiper-pagination-bullet {
  background: white !important;
  opacity: .3 !important;
}

.swiper-pagination.white .swiper-pagination-bullet-active,
.white .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}

@media (max-width: 1023.98px) {
  .swiper-pagination-bullet {
    width: 1.8vw;
    height: 1.8vw;
  }

  .swiper-pagination-bullet {
    margin: 0 0.9vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #002C62;
  padding: .67vw 0;
  z-index: 10000;
  overflow: hidden;
}

.header .container {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-about,
.header-links ul,
.header-action {
  display: flex;
  align-items: center;
}

.header-links ul li {
  position: relative;
}

.header-links ul li:not(:last-child) {
  margin-left: .75vw;
  padding-left: .75vw;
}

.header-links ul li:not(:last-child)::after {
  content: '';
  display: block;
  width: .25vw;
  height: .25vw;
  background-color: #F36A10;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header-number {
  margin-left: 1.8vw;
}

.header-logo img {
  width: 8.7vw;
}

.header-hamburger {
  margin-left: 1.8vw;
}

.header-hamburger img {
  width: 2.34vw;
}

.header-account {
  margin-left: 1.5vw;
}

.header-account a,
.header-phone a {
  display: flex;
  align-items: center;
}

.header-account a img,
.header-phone a img {
  width: 1.14vw;
  height: 1.14vw;
  object-fit: contain;
  object-position: center;
  margin-left: .5vw;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 1.6vw 0;
  }
  
  .header .container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-about,
  .header-links ul,
  .header-action {
    display: flex;
    align-items: center;
  }
  
  .header-links,
  .header-account,
  .header-phone {
    display: none;
  }

  .header-logo {
    margin-left: 15vw;
  }
  
  .header-logo img {
    width: 28.66vw;
  }
  
  .header-hamburger {
    margin-left: 0;
  }
  
  .header-hamburger img {
    width: 9.46vw;
  }

  .header-about {
    flex-direction: row-reverse;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
  z-index: 1;
}

.banner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to top, black, transparent);
  opacity: .8;
}

.banner .bg,
.banner .bg img,
.banner .bg picture,
.banner .bg video {
  width: 100%;
  height: calc(100vh - 4.95vw);
  max-height: calc(100vh - 4.95vw);
  object-fit: cover;
  object-position: center;
}

.banner .popup-toggler {
  position: absolute;
  bottom: 2vw;
  left: 4%;
  display: flex;
  align-items: center;
  color: white;
  z-index: 10;
}

.banner .popup-toggler img {
  width: 3.33vw;
  margin-right: 1.3vw;
}

.banner .container {
  position: absolute;
  top: 4.68vw;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  color: white;
  text-align: center;
}

.banner-logo img {
  margin: 0 auto 1vw auto;
  width: 12.4vw;
}

.banner h1 {
  margin-bottom: .5vw;
}

.banner-scroll {
  position: absolute;
  left: 50%;
  bottom: 1.5vw;
  transform: translateX(-50%);
  z-index: 30;
}

.banner-scroll img {
  height: 5.88vw;
}

/* Project 2 Page */
.project-2-page .banner::after {
  background-image: linear-gradient(to top, #2B2B2B, transparent);
  height: 35%;
  opacity: 1;
}

@media (min-width: 1024px) {
  .banner h1 .d-desktop {
    display: inline;
  }
}

@media (max-width: 1023.98px) {
  .banner .bg,
  .banner .bg img,
  .banner .bg picture,
  .banner .bg video {
    max-height: calc(100vh - 14.4vw);
    height: 133vw;
  }
  
  .banner .popup-toggler {
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .banner .popup-toggler img {
    width: 12.54vw;
    margin-right: 0;
    margin-bottom: 4vw;
  }

  .banner .container {
    top: 10.66vw;
    width: 90%;
  }
  
  .banner-logo img {
    margin: 0 auto 5.33vw auto;
    width: 36.5vw;
  }
  
  .banner h1 {
    margin-bottom: 2vw;
    line-height: 1;
  }
  
  .banner-scroll {
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
  }
  
  .banner-scroll img {
    height: 25.7vw;
  }
  
  /* Project 2 Page */
  .project-2-page .banner::after {
    background-image: linear-gradient(to top, #2B2B2B, transparent);
    height: 35%;
    opacity: 1;
  }
}

/* #Banner 2
================================================== */
.banner-2 {
  position: relative;
  overflow: hidden;
}

.banner-2 .bg,
.banner-2 .bg img,
.banner-2 .bg picture,
.banner-2 .bg video {
  width: 100%;
}

.banner-2 .container {
  position: absolute;
  top: 3vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-2 h2 {
  line-height: 1;
  margin-bottom: 1.5vw;
}

.banner-2 .container img {
  width: 3.65vw;
}

@media (max-width: 1023.98px) {
  .banner-2 .container {
    top: 8vw;
    width: 100%;
  }
  
  .banner-2 h2 {
    margin-bottom: 2.5vw;
  }
  
  .banner-2 .container img {
    width: 12.4vw;
  }
}

/* #Video Popup
================================================== */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 11000;
  overflow-y: auto;

  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;
  backface-visibility: hidden;
}

.video-popup.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.video-popup {
  padding: 0 16.5%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.video-popup .popup-close {
  margin-bottom: 1vw;
  border-radius: 50%;
}

.video-popup .popup-close img {
  width: 3.12vw;
}

@media (max-width: 1023.98px) {
  .video-popup {
    padding: 0 4%;
  }
  
  .video-popup .popup-close {
    margin-bottom: 2vw;
  }
  
  .video-popup .popup-close img {
    width: 7.34vw;
  }
}

/* #Numbers
================================================== */
.numbers {
  position: relative;
  padding-top: 5.2vw;
  overflow: hidden;
}

.numbers .bg-slider .swiper-slide img,
.numbers .bg-slider .swiper-slide video {
  width: 100%;
  height: 41vw;
  object-fit: cover;
  object-position: center;
}

.numbers .bg-slider {
  position: relative;
}

.numbers .bg-slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.13);
}

.numbers .container {
  position: absolute;
  top: 2.34vw;
  z-index: 20;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.numbers .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vw;
}

.numbers .heading > img {
  width: 3.65vw;
  margin-top: 1.5vw;
}

.numbers .nums-slider {
  text-align: center;
  line-height: 1;
}

@media (min-width: 1024px) {
  .numbers .nums-slider .swiper-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .numbers .nums-slider .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 8.5vw!important; */
  }
  
  .numbers .nums-slider .swiper-slide {
    /* margin: 0 3vw; */
  }
  
  .numbers .nums-slider .text {
    cursor: pointer;
  }
}

@media (max-width: 1023.98px) {
  .numbers {
    padding-top: 26vw;
  }
  
  .numbers .bg-slider .swiper-slide img,
  .numbers .bg-slider .swiper-slide video {
    height: 160vw;
  }
  
  .numbers .bg-slider::after {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .numbers .container {
    top: 5.33vw;
    width: 100%;
  }
  
  .numbers .heading {
    margin-bottom: 16.66vw;
  }
  
  .numbers .heading > img {
    width: 12.4vw;
    margin-top: 1.33vw;
  }
  
  .numbers .nums-slider .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .numbers .nums-slider .swiper-slide {
    flex: 0 0 45%;
    margin-bottom: 9vw;
  }
}

/* #About
================================================== */
.about {
  background-color: #1F2323;
  color: white;
  padding: 7.8vw 0 5.7vw 0;
  text-align: center;
  overflow: hidden;
}

.about .container {
  width: 71%;
}

.about h2 {
  margin-bottom: .5vw;
}

.about .container > p {
  width: 64vw;
  margin: 0 auto;
  color: #ADADAD;
  line-height: 1.2;
}

.about .container > p:first-of-type {
  margin-bottom: 1vw;
}

.about .btn {
  margin-top: 2.5vw;
}

.about ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4.95vw;
}

.about ul li {
  flex: 0 0 13vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about ul img {
  width: 5.2vw;
}

.about ul .line {
  height: 1px;
  width: 1.5vw;
  background-color: #F36A10;
  margin: 1.5vw 0 1vw 0;
}

.about ul h3 {
  color: #F36A10;
  line-height: 1.2;
}

.about ul p {
  line-height: 1.2;
}

@media (max-width: 1023.98px) {
  .about {
    padding: 14.66vw 0;
  }
  
  .about .container {
    width: 92%;
  }
  
  .about h2 {
    margin-bottom: 5.33vw;
    line-height: 1;
  }
  
  .about .container > p {
    width: 100%;
    color: white;
  }
  
  .about .container > p:first-of-type {
    margin-bottom: 5.33vw;
  }
  
  .about .btn {
    margin-top: 8vw;
  }
  
  .about ul {
    margin-top: 12vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .about ul li {
    flex: 0 0 42%;
    margin-bottom: 8vw;
  }
  
  .about ul img {
    width: 18.66vw;
  }
  
  .about ul .line {
    width: 5.33vw;
    margin: 4vw 0 3vw 0;
  }
}

/* #Success
================================================== */
.success {
  padding: 6vw 0 5.72vw 0;
  overflow: hidden;
  width: 100%;
}

.success .container {
  width: 57.8%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
  margin-top: -8vw;
}

.success img {
  width: 13.3vw;
  flex: 0 0 13.3vw;
  margin-left: 3.125vw;
}

.success .container p {
  line-height: 1.2;
  margin-top: 3vw;
}

@media (max-width: 1023.98px) {
  .success {
    padding: 10vw 0 8vw 0;
  }
  
  .success .container {
    width: 90%;
    display: block;
    text-align: center;
    margin-top: -13vw;
  }
  
  .success img {
    width: 46.66vw;
    margin: 0 auto;
    margin-bottom: 8vw;
  }
}

/* #Projects
================================================== */
.projects {
  overflow: hidden;
}

.projects h2 {
  margin-bottom: 1.75vw;
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
}

.projects ul li {
  flex: 0 0 50%;
  position: relative;
}

.projects .img {
  position: relative;
  overflow: hidden;
}

.projects .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color .4s ease;
  backface-visibility: hidden;
}

.projects li:hover .img::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.projects .img img {
  width: 100%;
  height: 18.22vw;
  object-fit: cover;
  object-position: center;
  transition: transform .4s ease;
  transform: scale(1.0001);
  backface-visibility: hidden;
}

.projects li:hover .img img {
  transform: scale(1.02);
}

.projects .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.projects .text h3 {
  line-height: 1.1;
}

.projects .text a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.projects .text a img {
  width: 1.2vw;
  margin-right: 1vw;
}

@media (max-width: 1023.98px) {
  .projects h2 {
    margin-bottom: 5.33vw;
  }

  .projects h2 img {
    margin-bottom: 4vw;
  }
  
  .projects ul {
    display: block;
  }
  
  .projects .img img {
    height: 53.33vw;
  }
  
  .projects .text a img {
    width: 4.4vw;
    margin-right: 2.66vw;
  }
}

/* #Contact
================================================== */
.contact {
  position: relative;
  overflow: hidden;
}

.contact .bg,
.contact .bg img,
.contact .bg picture {
  width: 100%;
}

.contact .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.contact .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  margin-bottom: 3.9vw;
}

.contact-logo {
  margin-bottom: 3.125vw;
}

.contact-logo img {
  width: 13vw;
}

.contact .form {
  width: 47vw;
}

.contact .form > p {
  margin-bottom: 3.125vw;
}

.contact .form .btn {
  margin-top: 2.6vw;
}

.contact .form .checkbox {
  margin-top: 1.8vw;
}

.contact .form .row-1 {
  margin-bottom: 1.8vw;
}

.contact .form .row-1,
.contact .form .row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .form .row-1 > input {
  width: 100%;
  flex: 0 0 30%;
}

.contact .form .row-2 > input:first-child {
  width: 100%;
  flex: 0 0 30%;
}

.contact .form .row-2 > input:last-child {
  width: 100%;
  flex: 0 0 65%;
}

@media (max-width: 1023.98px) {
  .contact .container {
    width: 82%;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact .heading {
    margin-bottom: 6.66vw;
  }
  
  .contact-logo {
    margin-bottom: 10vw;
  }
  
  .contact-logo img {
    width: 40vw;
  }
  
  .contact .form {
    width: 100%;
  }
  
  .contact .form > p {
    margin-bottom: 5.33vw;
  }
  
  .contact .form .btn {
    margin-top: 13.33vw;
  }
  
  .contact .form .checkbox {
    margin-top: 5.33vw;
  }
  
  .contact .form .row-1 {
    margin-bottom: 0;
  }
  
  .contact .form .row-1,
  .contact .form .row-2 {
    display: block;
  }
  
  .contact .form .row-1 > input,
  .contact .form .row-2 > input {
    margin-bottom: 5.33vw;
  }
}

/* #Footer
================================================== */
.footer .container {
  width: 85%;
  overflow: hidden;
}

/* Top */
.footer-top {
  padding: 5.7vw 0 2.6vw 0;
}

.footer-top .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-logo img {
  width: 8.7vw;
}

.footer-badges img {
  width: 9.9vw;
}

@media (max-width: 1023.98px) {
  .footer .container {
    width: 85%;
  }
  
  /* Top */
  .footer-top {
    padding: 8vw 0 12vw 0;
  }
  
  .footer-top .container {
    display: block;
  }
  
  .footer-logo img {
    width: 28.66vw;
    margin: 0 auto;
  }
  
  .footer-badges img {
    width: 38vw;
    margin: 0 auto;
  }

  .footer .collapsible {
    padding: 3vw 0;
  }

  .footer .collapse-toggler {
    display: flex;
    align-content: center;
    justify-content: space-between;
    line-height: 1;
  }

  .footer .collapse-toggler img {
    width: 2.93vw;
    transition: all .4s ease;
  }

  .footer .collapsible.show .collapse-toggler img {
    transform: rotate(45deg);
  }

  .footer .collapse > div {
    padding-top: 4vw;
    line-height: 1.7;
  }

  .footer-links {
    margin: 10vw 0;
  }
}

@media (min-width: 1024px) {
  .footer .collapse {
    height: auto!important;
  }

  .footer .collapse-toggler .simbol {
    display: none;
  }

  .footer .accordion {
    display: flex;
  }

  .footer .collapsible:not(:last-child) {
    margin-left: 3.65vw;
  }
}

/* Bottom */
.footer-bottom {
  background-color: #F7F4F2;
  padding: .6vw 0;
}

.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1023.98px) {
  .footer-bottom {
    padding: 4vw 0;
  }
  
  .footer-bottom .container {
    display: block;
    text-align: center;
  }

  .footer-bottom p:not(:last-child) {
    margin-bottom: 2vw;
  }
}

/* #Text Autoplay
================================================== */
.text-autoplay {
  line-height: 1;
  overflow: hidden;
}

.text-autoplay .swiper {
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
}

.text-autoplay .swiper-wrapper {
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
  cursor: default;
  user-select: none;
}

/* #Documents
================================================== */
.documents {
  padding: 0 0 7.5vw 0;
  text-align: center;
  background-color: #2B2B2B;
  color: white;
}

.documents .container {
  max-width: 55%;
  margin-top: -2.34vw;
}

.documents h2 {
  margin-bottom: 4.5vw;
}

.documents .swiper {
  margin: 0 auto;
  max-width: 72%;
  padding-bottom: 3.125vw;
}

.documents .swiper-slide {
  padding: 0 0.7vw;
}

.documents a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.4;
}

.documents img {
  max-width: 2vw;
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .documents {
    padding: 0;
  }

  .documents .container {
    max-width: 100%;
    padding: 0 0 20vw 0;
    margin-top: 0;
  }

  .documents h2 {
    margin-bottom: 8vw;
  }

  .documents .line-square {
    margin-top: -8vw;
  }

  .documents .swiper {
    padding-bottom: 14vw;
  }

  .documents img {
    max-width: 10.53vw;
    margin-bottom: 3vw;
  }
}

/* #Gallery
================================================== */
.gallery {
  position: relative;
  color: white;
  margin-bottom: 3.125vw;
}

.gallery::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42vw;
  background-color: #1F2323;
  z-index: -1;
}

.gallery .container {
  max-width: 86%;
}

.gallery .section-heading {
  margin-top: -3.125vw;
  margin-bottom: 1.5vw;
}

.gallery .swiper-slide img {
  width: 100%;
  height: 43vw;
  object-fit: cover;
  object-position: center;
}

.gallery .swiper-navigation {
  margin-top: 2vw;
}

@media (max-width: 1023.98px) {
  .gallery {
    margin-bottom: 11.33vw;
  }

  .gallery::after {
    height: 77.2vw;
  }

  .gallery .container {
    max-width: 90%;
  }

  .gallery .section-heading {
    margin-top: -13.33vw;
    margin-bottom: 6vw;
  }

  .gallery .section-heading img {
    margin-bottom: 8vw;
  }

  .gallery .swiper-navigation {
    margin-top: 5.33vw;
  }

  .gallery .swiper-slide img {
    height: 71.73vw;
  }

  .gallery .swiper-arrows {
    display: none;
  }
}

/* #Blog Posts
================================================== */
.blog-posts {
  margin-bottom: 7.8vw;
  overflow: hidden;
}

.blog-posts .container {
  max-width: 77%;
}

.blog-posts .section-heading {
  margin-bottom: 4.16vw;
}

.blog-posts .row {
  display: flex;
}

.blog-posts .col {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
}

.blog-posts .col:first-child {
  flex: 0 0 55%;
}

.blog-posts .col:last-child {
  flex: 0 0 45%;
}

.blog-posts .col:first-child img {
  width: 100%;
}

.blog-posts .col:last-child {
  padding-right: 6.5vw;
}

.blog-posts .swiper {
  height: 100%;
  padding-top: 5.3vw;
  cursor: grab;
}

.blog-posts .swiper-pagination {
  text-align: right;
}

.blog-posts .blog-post {
  max-width: 21.3vw;
}

.blog-posts .blog-post:not(:last-child) {
  margin-bottom: 2.6vw;
}

.blog-posts .blog-post a {
  text-decoration: underline;
  display: inline-block;
  margin-top: .5vw;
}

.blog-posts .blog-post p.text-orange {
  margin-bottom: 1.3vw;
}

@media (max-width: 1023.98px) {
  .blog-posts {
    margin-bottom: 10vw;
  }

  .blog-posts .container {
    max-width: 100%;
  }

  .blog-posts .section-heading {
    margin-bottom: 6vw;
  }

  .blog-posts .section-heading img {
    margin-bottom: 8vw;
  }

  .blog-posts .row {
    display: block;
  }

  .blog-posts .col:first-child {
    display: none;
  }

  .blog-posts .col:last-child {
    margin: 0 auto;
    max-width: 90%;
  }

  .blog-posts .col:last-child {
    padding-right: 0;
  }

  .blog-posts .blog-post {
    max-width: 100%;
  }

  .blog-posts .swiper {
    padding: 0;
    padding-bottom: 19vw;
  }

  .blog-posts .swiper-pagination {
    text-align: center;
  }

  .blog-posts .blog-post:not(:last-child) {
    margin-bottom: 12vw;
  }

  .blog-posts .blog-post a {
    text-decoration: underline;
    display: inline-block;
    margin-top: 2vw;
  }

  .blog-posts .blog-post p.text-orange {
    margin-bottom: 3vw;
  }
}

/* #Info Section 1
================================================== */
.plans {
  position: relative;
  overflow: hidden;
  padding: 7.8vw 0 11.2vw 0;
}

.plans .container {
  display: flex;
}

/* Text */
.plans .text {
  width: 34%;
  margin-right: 7.91vw;
}

.plans.left .text {
  right: 80%;
}

.plans .text h2 {
  margin-bottom: 1vw;
}

/* Link (a tag) */
.plans .link {
  display: flex;
  align-items: center;
  margin-top: 2.6vw;
}

.plans .link img {
  width: .75vw;
  margin-right: .75vw;
}

/* Accordion Imgs */
.plans .imgs {
  width: 31.77%;
  height: 35vw;
  position: relative;
  margin-right: 10.57vw;
}

.plans .imgs ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}

.plans .imgs ul li.active {
  opacity: 1;
  visibility: visible;
}

.plans .imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* Accordion */
.plans .accordion {
  margin-top: 3.125vw;
  border-top: 1px solid #D2D2D2;
}

.plans .collapsible {
  border-bottom: 1px solid #D2D2D2;
}

.plans .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 0;
}

.plans .collapse-toggler img {
  width: 1.15vw;
  transition: all .4s ease;
}

.plans .show .collapse-toggler img {
  transform: rotate(45deg);
}

.plans .accordion .links li {
  display: flex;
  margin-bottom: 1.5vw;
}

.plans .accordion .img-toggler {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.plans .accordion .pdf-link {
  display: flex;
  align-items: center;
}

.plans .accordion .pdf-link img {
  width: 1vw;
  margin-right: 1.5vw;
}

.plans .accordion .pdf-link span {
  text-decoration: underline;
}

@media (max-width: 1023.98px) {
  .plans {
    margin-bottom: 14.66vw;
  }

  .plans .container {
    display: block;
  }

  /* Heading */
  .plans .heading {
    margin-bottom: 97vw;
  }

  /* Img */
  .plans .img {
    margin-bottom: 8vw;
  }

  /* Text */
  .plans .text {
    position: static;
    transform: none;
    width: 90%;
    margin: 0 auto;
  }
  
  .plans .text h3 {
    margin-bottom: 2.66vw;
  }

  /* Accordion Imgs */
  .plans .imgs {
    position: absolute;
    top: 50vw;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 69%;
    height: 29.73vw;
    margin: 0;
  }

  .plans .imgs p {
    margin-bottom: 7vw;
  }

  /* Accordion */
  .plans .accordion {
    margin-top: 8vw;
  }

  .plans .accordion .links li {
    margin-bottom: 10vw;
  }

  .plans .accordion .links li:last-child {
    margin-bottom: 5.33vw;
  }

  .plans .collapse-toggler {
    padding: 4vw 0;
  }

  .plans .collapse-toggler img {
    width: 4vw;
  }

  .plans .accordion .img-toggler {
    padding-right: 0;
  }

  .plans .accordion .pdf-link {
    display: flex;
    align-items: center;
  }
  
  .plans .accordion .pdf-link img {
    width: 9.33vw;
    margin-right: 0;
  }
  
  .plans .accordion .pdf-link span {
    display: none;
  }

  /* Link (a tag) */
  .plans .link {
    justify-content: center;
    margin-top: 4.66vw;
    margin-bottom: 10.66vw;
  }

  .plans .link img {
    width: 4vw;
    margin-right: 2vw;
  }
}

/* #Video Section
================================================== */
.video-section {
  padding: 0 0 4.16vw 0;
  position: relative;
}

.video-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38.7vw;
  background-color: #1F2323;
  z-index: -1;
}

.video-section .container {
  width: 86%;
  position: relative;
}

.video-section video {
  width: 100%;
  height: 43vw;
  object-fit: cover;
  object-position: center;
}

.video-section .popup-toggler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
}

.video-section .popup-toggler img {
  width: 3.33vw;
  margin-bottom: 1.3vw;
}

@media (max-width: 1023.98px) {
  .video-section {
    padding: 0 0 13.33vw 0;
  }
  
  .video-section::after {
    height: 50vw;
  }
  
  .video-section .container {
    width: 90%;
  }
  
  .video-section video {
    height: 71.73vw;
  }

  .video-section .popup-toggler {
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .video-section .popup-toggler img {
    width: 12.54vw;
    margin-right: 0;
    margin-bottom: 4vw;
  }
}

/* #Project About
================================================== */
.project-about {
  background-color: #2B2B2B;
  color: white;
  padding: 4.4vw 0 7.55vw 0;
}

.project-about .container {
  display: flex;
  align-items: flex-start;
  width: 86%;
}

.project-about .main {
  flex-grow: 1;
  padding-left: 7.3vw;
}

.project-about .main h2 {
  line-height: 1;
}

.project-about .main p {
  width: 44vw;
}

.project-about .main .dots {
  margin: 2vw 0 1.5vw 0;
}

.project-about .project-img {
  margin-top: 2.5vw;
}

.project-about .project-img img {
  width: 100%;
}

.project-about .sidebar {
  border-right: 1px solid #C8C8C8;
  padding-right: 4.68vw;
}

.project-about .sidebar ul li {
  line-height: 1.2;
}

.project-about .sidebar ul li:not(:last-child) {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .project-about {
    padding: 23.3vw 0 0 0;
  }
  
  .project-about .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .project-about .main {
    padding-left: 0;
  }

  .project-about .main .heading {
    padding: 0 4.66vw;
    margin-bottom: 10vw;
  }
  
  .project-about .main h2 {
    line-height: 1;
  }
  
  .project-about .main p {
    width: 100%;
  }
  
  .project-about .main .dots {
    margin: 4vw 0;
  }
  
  .project-about .project-img {
    margin-top: 2.5vw;
  }
  
  .project-about .project-img img {
    width: 100%;
  }
  
  .project-about .sidebar {
    border-right: 0;
    padding: 0 4.66vw;
    margin-bottom: 26.66vw;
  }

  .project-about .sidebar ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-about .sidebar ul li {
    flex: 0 0 50%;
    padding-left: 2vw
  }
  
  .project-about .sidebar ul li:not(:last-child) {
    margin-bottom: 4vw;
  }
}

/* #Media Boxes
================================================== */
.media-boxes {
  background-color: #2B2B2B;
  color: white;
}

.media-box {
  display: flex;
  align-items: center;
}

.media-box:nth-child(even) {
  flex-direction: row-reverse;
}

.media-box .img,
.media-box .text {
  flex: 0 0 50%;
}

.media-box .img img {
  height: 33.85vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.media-box .text {
  padding: 0 7.9vw 0 10.4vw;
}

.media-box .text .dots {
  margin: 1vw 0 1.5vw 0;
}

.media-box .text .btn {
  margin-top: 1.8vw;
}

/* Project 2 Page */
.project-2-page .media-boxes {
  padding-bottom: 9.7vw;
}

@media (max-width: 1023.98px) {
  .media-box {
    display: flex;
    flex-direction: column-reverse!important;
    align-items: stretch;
    justify-content: stretch;
  }
  
  .media-box .img,
  .media-box .text {
    flex: 0;
  }
  
  .media-box .img img {
    height: 75.46vw;
  }
  
  .media-box .text {
    padding: 9.33vw 4.66vw 16vw 4.66vw;
  }
  
  .media-box .text .dots {
    margin: 2vw 0 4vw 0;
  }
  
  .media-box .text .btn {
    margin-top: 6vw;
  }
  
  /* Project 2 Page */
  .project-2-page .media-boxes {
    padding-bottom: 26vw;
  }
}